<div class="w-full px-5 bg-white shadow-sm">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id:"registrationForm", class: "space-y-4" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="flex flex-col border-b-2 mx-2 pb-2">
      <%= f.text_field :name, class: "py-2 px-3 border-none rounded-md focus:outline-none focus:ring focus:border-blue-500  ", autofocus: true, autocomplete: "name", placeholder:'Full Name' %>
    </div>

    <div class="flex flex-col border-b-2 mx-2 pb-2">
      <%= f.email_field :email, class: "py-2 px-3 border-none rounded-md focus:outline-none focus:ring focus:border-blue-500", autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>

    <div class="flex flex-col mx-2 pb-2">
      <%= f.password_field :password, class: "py-2 px-3 border-none rounded-md focus:outline-none focus:ring focus:border-blue-500", autocomplete: "new-password", placeholder: 'Password' %>
    </div>

  <% end %>
</div>
